In [2]:
import pandas as pd
import seaborn as sns
import re
import matplotlib

C:\Users\sante\AppData\Local\Temp\ipykernel_9736\1466026045.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

,name,price,params,desc,region
2744141438,"EXEED TXL 2.0 AMT, 2023",4680000,"2.0 AMT (197 л.с.), внедорожник, полный, бензин",Покупайте Exeed с выгодой до 1 150 000 ₽ в лиз...,Санкт-Петербург
3464828016,"EXEED RX 2.0 AMT, 2023",5450000,"2 AMT (249 л.с.), внедорожник, полный, бензин",Сильвер официальный дилер Exeed предлагает уни...,Челябинск
3493473950,"EXEED TXL 2.0 AMT, 2023",4680000,"2.0 AMT (197 л.с.), внедорожник, полный, бензин",Выгода На Exeed Txl ДО 1 590 000 Рублей! Офици...,Краснодар
3467133132,"EXEED TXL 1.6 AMT, 2023",4000000,"1.6 AMT (186 л.с.), внедорожник, полный, бензин",Влюбитесь в каждое мгновенье с новым автомобил...,Санкт-Петербург
3278163543,"EXEED TXL 1.6 AMT, 2023",4260000,"1.6 AMT (186 л.с.), внедорожник, полный, бензин","Exeed — бренд премиальных автомобилей, созданн...",Ростов-на-Дону

In [3]:
def prepare_data(path):

    df = pd.read_csv(path, index_col=0)
    df[['mileage', 'engine_capacity', 'transmission', 'engine_power', 'body_type', 'wheel', 'fuel_type', 'model', 'model_2', 'year']] = None

    for i, row in df.loc[:, ['name', 'params', 'region']].iterrows():

        try:
            #Предобработка params
            mileage = re.search(r'([\d ]+) км,', row['params'], re.IGNORECASE)
            if mileage == None:
                mileage = 0
            else:
                df.loc[i, 'mileage'] = mileage.group(1).replace(' ', '')

            engine_capacity = re.search(r'([\d\.]+) [A-Z]+', row['params'])

            if engine_capacity != None:
                df.loc[i, 'engine_capacity'] = engine_capacity.group(1)

            df.loc[i, 'transmission'] = re.search(r'MT|CVT|AMT|AT', row['params'])[0]
            df.loc[i, 'engine_power'] = re.search(r'\((\d+) л\.с\.\),', row['params']).group(1)


            df.loc[i, 'body_type'] = re.search(r'([\w -]+), (полный|задний|передний)', row['params'], re.IGNORECASE).group(1)
            df.loc[i, 'wheel'] = re.search(r'полный|задний|передний', row['params'], re.IGNORECASE)[0]
            df.loc[i, 'fuel_type'] = re.search(r'бензин|дизель|электро|гибрид|газ', row['params'], re.IGNORECASE)[0]


            #предобработка name
            df.loc[i, 'model'] = re.search(r'[\w-]+ ', row['name'], re.IGNORECASE)[0]
            df.loc[i, 'model_2'] = re.search(r'[\w-]+ ([^,]*?) [\d\. ]*(AT|MT|AMT|CVT),', row['name'], re.IGNORECASE).group(1)        
            df.loc[i, 'year'] = re.search(r'\d{4}', row['name'])[0]

            #предобработка region
            df.loc[i, 'region'] = re.search(r'([^,]+),?', row['region'], re.IGNORECASE).group(1)

        except Exception as ex:
            print(row)
            print(ex)

    return df

In [5]:
df = pd.DataFrame()
for i in range(28):
    if i == 0:
        res = prepare_data(f'./datasets/data.csv')
    else:
        res = prepare_data(f'./datasets/data{i}.csv')
    
    df = pd.concat([df, res])

name                                          Audi A6, 2011
params    186 000 км, 2.0 CVT (180 л.с.), седан, передни...
region                              Иркутская обл., Иркутск
Name: 2978798022, dtype: object
'NoneType' object has no attribute 'group'
name                                           BMW X5, 2008
params    300 000 км, 3.0 AT (272 л.с.), внедорожник, по...
region                                                Минск
Name: 2634543434, dtype: object
'NoneType' object has no attribute 'group'
name         Changan Lamore 1.5 AMT, 2023
params    1.5 AMT седан, передний, бензин
region               поселение Московский
Name: 3746407298, dtype: object
'NoneType' object has no attribute 'group'
name                                Chevrolet Lacetti, 2010
params    280 000 км, 1.6 MT (109 л.с.), хетчбэк, передн...
region    Курская обл., Мантуровский р-н, 2-й Засеймский...
Name: 2476088237, dtype: object
'NoneType' object has no attribute 'group'
name                                  Chevrolet Rezzo, 2007
params    156 554 км, 1.6 MT (90 л.с.), минивэн, передни...
region                    Челябинская область, Магнитогорск
Name: 2762662014, dtype: object
'NoneType' object has no attribute 'group'
name          Chevrolet Equinox 1.5 AT, 2020, 38 101 км
params    38 101 км, 1.5 AT внедорожник, полный, бензин
region                                            Пермь
Name: 3728241721, dtype: object
'NoneType' object has no attribute 'group'
name                                     Ford Transit, 1986
params    170 000 км, 2.0 MT (68 л.с.), фургон, задний, ...
region        Ростовская обл., Аксайский р-н, пос. Дорожный
Name: 2657276589, dtype: object
'NoneType' object has no attribute 'group'
name                                      Ford Galaxy, 2014
params    387 000 км, 2.0 MT (140 л.с.), минивэн, передн...
region                                               Москва
Name: 2766560336, dtype: object
'NoneType' object has no attribute 'group'
name                                Geely Emgrand EC7, 2014
params    151 613 км, 1.5 MT (98 л.с.), седан, передний,...
region        Мурманская обл., г.о. Александровск, Гаджиево
Name: 2690963706, dtype: object
'NoneType' object has no attribute 'group'
name                                    Geely Coolray, 2019
params    24 000 км, 1.5 AMT (150 л.с.), внедорожник, пе...
region                      Новосибирская обл., Новосибирск
Name: 3150024398, dtype: object
'NoneType' object has no attribute 'group'
name                                      Haval Dargo, 2023
params      2.0 AMT (192 л.с.), внедорожник, полный, бензин
region    Вологодская обл., Кирилловский муниципальный о...
Name: 2468648317, dtype: object
'NoneType' object has no attribute 'group'
name                                     Haval Jolion, 2023
params    1.5 AMT (143 л.с.), внедорожник, передний, бензин
region                 Республика Башкортостан, Октябрьский
Name: 3010188386, dtype: object
'NoneType' object has no attribute 'group'
name                                        Haval F7x, 2023
params      2.0 AMT (190 л.с.), внедорожник, полный, бензин
region    Вологодская обл., Бабушкинский муниципальный о...
Name: 2819816810, dtype: object
'NoneType' object has no attribute 'group'
name                                        Haval F7x, 2023
params      1.5 AMT (150 л.с.), внедорожник, полный, бензин
region    Вологодская обл., Кирилловский муниципальный о...
Name: 2820163530, dtype: object
'NoneType' object has no attribute 'group'
name             Honda FR-V 2.0 MT, 2006, 100 000 км
params    100 000 км, 2 MT минивэн, передний, бензин
region                                        Москва
Name: 3574440147, dtype: object
'NoneType' object has no attribute 'group'
name                                      Honda Civic, 2020
params    25 000 км, 1.5 MT (182 л.с.), седан, передний,...
region                                          Севастополь
Name: 2980605618, dtype: object
'NoneType' object has no attribute 'group'
name           Hyundai Santa Fe 2.2 AT, 2015, 213 105 км
params    213 105 км, 2.2 AT внедорожник, полный, дизель
region                                            Москва
Name: 3497231741, dtype: object
'NoneType' object has no attribute 'group'
name                   Lexus LX 3.5 AT, 2023, 22 км
params    22 км, 3.5 AT внедорожник, полный, бензин
region                                       Москва
Name: 3617570637, dtype: object
'NoneType' object has no attribute 'group'
name                   Lexus LX 3.5 AT, 2023, 16 км
params    16 км, 3.5 AT внедорожник, полный, бензин
region                                       Москва
Name: 3954330349, dtype: object
'NoneType' object has no attribute 'group'
name                                         Lexus NX, 2016
params    65 625 км, 2.0 CVT (150 л.с.), внедорожник, по...
region                            Вологодская обл., Вологда
Name: 2858157504, dtype: object
'NoneType' object has no attribute 'group'
name                   Lexus LX 3.5 AT, 2022, 3 100 км
params    3 100 км, 3.5 AT внедорожник, полный, бензин
region                  Республика Дагестан, Махачкала
Name: 3483724134, dtype: object
'NoneType' object has no attribute 'group'
name                   Lexus LX 3.5 AT, 2023, 1 км
params    1 км, 3.5 AT внедорожник, полный, бензин
region                                      Москва
Name: 3620332040, dtype: object
'NoneType' object has no attribute 'group'
name                   Lexus LX 3.5 AT, 2023, 12 км
params    12 км, 3.5 AT внедорожник, полный, бензин
region                            Омская обл., Омск
Name: 3760297429, dtype: object
'NoneType' object has no attribute 'group'
name                   Lexus LX 3.5 AT, 2023, 15 км
params    15 км, 3.5 AT внедорожник, полный, бензин
region              Новосибирская обл., Новосибирск
Name: 3922422603, dtype: object
'NoneType' object has no attribute 'group'
name                   Lexus LX 3.5 AT, 2023, 12 км
params    12 км, 3.5 AT внедорожник, полный, бензин
region                            Омская обл., Омск
Name: 3471860328, dtype: object
'NoneType' object has no attribute 'group'
name                     Lexus LX 3.5 AT, 2023, 75 км
params      75 км, 3.5 AT внедорожник, полный, бензин
region    Московская обл., Одинцовский г.о., Одинцово
Name: 3467545690, dtype: object
'NoneType' object has no attribute 'group'
name                   Lexus LX 3.5 AT, 2023, 1 км
params    1 км, 3.5 AT внедорожник, полный, бензин
region               Красноярский край, Красноярск
Name: 3673415928, dtype: object
'NoneType' object has no attribute 'group'
name                   Lexus LX 3.5 AT, 2023, 15 км
params    15 км, 3.5 AT внедорожник, полный, бензин
region                            Омская обл., Омск
Name: 3759985962, dtype: object
'NoneType' object has no attribute 'group'
name                   Lexus LX 3.5 AT, 2022
params    3.5 AT внедорожник, полный, бензин
region          Астраханская обл., Астрахань
Name: 3745760717, dtype: object
'NoneType' object has no attribute 'group'
name                   Lexus LX 3.5 AT, 2023
params    3.5 AT внедорожник, полный, бензин
region                                 Пермь
Name: 3771355298, dtype: object
'NoneType' object has no attribute 'group'
name                   Lexus LX 3.3 AT, 2023, 53 км
params    53 км, 3.3 AT внедорожник, полный, дизель
region                                       Москва
Name: 3285730601, dtype: object
'NoneType' object has no attribute 'group'
name                   Lexus LX 3.5 AT, 2022, 3 км
params    3 км, 3.5 AT внедорожник, полный, бензин
region                                      Москва
Name: 3461914165, dtype: object
'NoneType' object has no attribute 'group'
name                   Lexus LX 3.5 AT, 2023, 3 км
params    3 км, 3.5 AT внедорожник, полный, бензин
region                                      Москва
Name: 3573305279, dtype: object
'NoneType' object has no attribute 'group'
name                   Lexus LX 3.5 AT, 2022, 18 км
params    18 км, 3.5 AT внедорожник, полный, бензин
region                            Омская обл., Омск
Name: 3183739710, dtype: object
'NoneType' object has no attribute 'group'
name                   Lexus RX 3.5 AT, 2008, 214 000 км
params    214 000 км, 3.5 AT внедорожник, полный, бензин
region                                            Сургут
Name: 3676685494, dtype: object
'NoneType' object has no attribute 'group'
name                   Lexus LX 3.5 AT, 2023, 175 км
params    175 км, 3.5 AT внедорожник, полный, бензин
region                                        Москва
Name: 3445289042, dtype: object
'NoneType' object has no attribute 'group'
name                   Lexus LX 3.5 AT, 2023, 20 км
params    20 км, 3.5 AT внедорожник, полный, бензин
region            Мочищенский сельсовет, дп. Мочище
Name: 3478174540, dtype: object
'NoneType' object has no attribute 'group'
name                   Lexus LX 3.5 AT, 2023
params    3.5 AT внедорожник, полный, бензин
region             Саратовская обл., Саратов
Name: 3678433110, dtype: object
'NoneType' object has no attribute 'group'
name                   Lexus LX 3.5 AT, 2023, 55 км
params    55 км, 3.5 AT внедорожник, полный, бензин
region                                       Москва
Name: 3607027440, dtype: object
'NoneType' object has no attribute 'group'
name                            Lexus LX 3.5 AT, 2023, 1 км
params             1 км, 3.5 AT внедорожник, полный, бензин
region    Кемеровская обл., Прокопьевский г.о., Прокопьевск
Name: 3455069265, dtype: object
'NoneType' object has no attribute 'group'
name                                         Lexus LS, 2003
params    227 700 км, 4.3 AT (282 л.с.), седан, задний, ...
region                        Республика Дагестан, Хасавюрт
Name: 2951038117, dtype: object
'NoneType' object has no attribute 'group'
name                   Lexus LX 3.5 AT, 2023, 12 км
params    12 км, 3.5 AT внедорожник, полный, бензин
region                            Омская обл., Омск
Name: 3695885584, dtype: object
'NoneType' object has no attribute 'group'
name                   Lexus LX 3.5 AT, 2023, 7 000 км
params    7 000 км, 3.5 AT внедорожник, полный, бензин
region                               Омская обл., Омск
Name: 3736454777, dtype: object
'NoneType' object has no attribute 'group'
name                   Lexus LX 3.5 AT, 2023
params    3.5 AT внедорожник, полный, бензин
region     Мочищенский сельсовет, дп. Мочище
Name: 3277628217, dtype: object
'NoneType' object has no attribute 'group'
name                   Lexus LX 3.5 AT, 2023, 8 000 км
params    8 000 км, 3.5 AT внедорожник, полный, бензин
region                                          Москва
Name: 3709960144, dtype: object
'NoneType' object has no attribute 'group'
name                   Lexus LX 3.5 AT, 2023, 15 км
params    15 км, 3.5 AT внедорожник, полный, бензин
region                            Омская обл., Омск
Name: 3759772912, dtype: object
'NoneType' object has no attribute 'group'
name                   Lexus LX 3.3 AT, 2023, 14 км
params    14 км, 3.3 AT внедорожник, полный, дизель
region                                       Москва
Name: 3609264129, dtype: object
'NoneType' object has no attribute 'group'
name                   Lexus LX 3.5 AT, 2022, 35 930 км
params    35 930 км, 3.5 AT внедорожник, полный, бензин
region                                  Санкт-Петербург
Name: 3763353833, dtype: object
'NoneType' object has no attribute 'group'
name                   Lexus LX 3.5 AT, 2023, 16 км
params    16 км, 3.5 AT внедорожник, полный, бензин
region                                       Москва
Name: 3566389238, dtype: object
'NoneType' object has no attribute 'group'
name                   Lexus LX 3.5 AT, 2023, 26 км
params    26 км, 3.5 AT внедорожник, полный, бензин
region                                       Москва
Name: 3680729975, dtype: object
'NoneType' object has no attribute 'group'
name                   Lexus RX 2.4 AT, 2023
params    2.4 AT внедорожник, полный, бензин
region                                 Пермь
Name: 3643137074, dtype: object
'NoneType' object has no attribute 'group'
name                   Lexus LX 3.5 AT, 2023, 12 км
params    12 км, 3.5 AT внедорожник, полный, бензин
region                 Московская обл., Красногорск
Name: 3716765268, dtype: object
'NoneType' object has no attribute 'group'
name                   Lexus LX 3.5 AT, 2023, 40 км
params    40 км, 3.5 AT внедорожник, полный, бензин
region                                       Москва
Name: 3619808728, dtype: object
'NoneType' object has no attribute 'group'
name                   Lexus LX 3.5 AT, 2023, 23 км
params    23 км, 3.5 AT внедорожник, полный, бензин
region                            Омская обл., Омск
Name: 3696085237, dtype: object
'NoneType' object has no attribute 'group'
name                   Lexus LX 3.5 AT, 2023, 900 км
params    900 км, 3.5 AT внедорожник, полный, бензин
region                  Республика Башкортостан, Уфа
Name: 3655067702, dtype: object
'NoneType' object has no attribute 'group'
name                       Lexus LX 3.3 AT, 2023, 58 км
params        58 км, 3.3 AT внедорожник, полный, дизель
region    Карабихское сельское поселение, пос. Нагорный
Name: 3782209233, dtype: object
'NoneType' object has no attribute 'group'
name                   Lexus LX 3.5 AT, 2023
params    3.5 AT внедорожник, полный, бензин
region                               Саратов
Name: 3550467234, dtype: object
'NoneType' object has no attribute 'group'
name                   Lexus LX 3.5 AT, 2022, 5 км
params    5 км, 3.5 AT внедорожник, полный, бензин
region                                      Москва
Name: 3710542496, dtype: object
'NoneType' object has no attribute 'group'
name                   Lexus LX 3.5 AT, 2023
params    3.5 AT внедорожник, полный, бензин
region             Саратовская обл., Саратов
Name: 3678163920, dtype: object
'NoneType' object has no attribute 'group'
name                   Lexus LX 3.5 AT, 2023, 35 км
params    35 км, 3.5 AT внедорожник, полный, бензин
region                                       Москва
Name: 3572741868, dtype: object
'NoneType' object has no attribute 'group'
name                   Lexus LX 3.5 AT, 2023, 3 км
params    3 км, 3.5 AT внедорожник, полный, бензин
region                      Самарская обл., Самара
Name: 4066036090, dtype: object
'NoneType' object has no attribute 'group'
name                 Mazda CX-5 2.0 AT, 2019, 104 898 км
params    104 898 км, 2 AT внедорожник, передний, бензин
region                                            Москва
Name: 3625192098, dtype: object
'NoneType' object has no attribute 'group'
name                  Mazda 3 1.6 AT, 2013, 110 273 км
params    110 273 км, 1.6 AT хетчбэк, передний, бензин
region                                     Новосибирск
Name: 3629410509, dtype: object
'NoneType' object has no attribute 'group'
name                           Mercedes-Benz Sprinter, 2017
params    75 000 км, 2.2 MT (109 л.с.), микроавтобус, за...
region                                               Москва
Name: 2710121748, dtype: object
'NoneType' object has no attribute 'group'
name                                      Peugeot 308, 2008
params    170 000 км, 1.6 AT (120 л.с.), хетчбэк, передн...
region          Нижегородская обл., Городецкий р-н, Городец
Name: 2441321804, dtype: object
'NoneType' object has no attribute 'group'
name             Renault Megane 1.5 AMT, 2019, 95 800 км
params    95 800 км, 1.5 AMT универсал, передний, дизель
region                                         Челябинск
Name: 3555384895, dtype: object
'NoneType' object has no attribute 'group'
name                                      Toyota RAV4, 2000
params    263 000 км, 2.0 MT (129 л.с.), внедорожник, по...
region                             Саратовская обл., Шиханы
Name: 2577594502, dtype: object
'NoneType' object has no attribute 'group'
name       ГАЗ ГАЗель Next 2.7 MT, 2024
params    2.7 MT фургон, задний, бензин
region     Республика Татарстан, Казань
Name: 2549112297, dtype: object
'NoneType' object has no attribute 'group'
name       ГАЗ Соболь 2752 2.9 MT, 2024
params    2.9 MT фургон, полный, бензин
region     Республика Татарстан, Казань
Name: 2549306569, dtype: object
'NoneType' object has no attribute 'group'
name             ГАЗ ГАЗель Next 2.8 MT, 2024
params         2.8 MT минивэн, задний, дизель
region    Нижегородская обл., Нижний Новгород
Name: 3153520240, dtype: object
'NoneType' object has no attribute 'group'
name       ГАЗ ГАЗель Next 2.7 MT, 2024
params    2.7 MT фургон, задний, бензин
region     Республика Татарстан, Казань
Name: 2549515597, dtype: object
'NoneType' object has no attribute 'group'
name       ГАЗ Соболь 2752 2.9 MT, 2024
params    2.9 MT фургон, полный, бензин
region     Республика Татарстан, Казань
Name: 2549694636, dtype: object
'NoneType' object has no attribute 'group'
name       ГАЗ ГАЗель Next 2.7 MT, 2024
params    2.7 MT фургон, задний, бензин
region     Республика Татарстан, Казань
Name: 2548976526, dtype: object
'NoneType' object has no attribute 'group'
name       ГАЗ ГАЗель Next 2.8 MT, 2023
params    2.8 MT фургон, задний, дизель
region      Челябинская обл., Челябинск
Name: 2921170644, dtype: object
'NoneType' object has no attribute 'group'
name             ГАЗ ГАЗель Next 2.8 MT, 2023
params    2.8 MT микроавтобус, задний, дизель
region                                 Казань
Name: 3540713067, dtype: object
'NoneType' object has no attribute 'group'
name                                  ГАЗ ГАЗель 3302, 2006
params    312 000 км, 2.4 MT (140 л.с.), фургон, задний,...
region                          Владимирская обл., Владимир
Name: 2449426271, dtype: object
'NoneType' object has no attribute 'group'
name                                       УАЗ Pickup, 2009
params    102 003 км, 2.7 MT (128 л.с.), пикап, полный, ...
region                        Чеченская Республика, Грозный
Name: 2903424032, dtype: object
'NoneType' object has no attribute 'group'
name                                         УАЗ 3962, 2006
params    140 000 км, 2.7 MT (112 л.с.), микроавтобус, п...
region                  Ханты-Мансийский АО, Ханты-Мансийск
Name: 2349448283, dtype: object
'NoneType' object has no attribute 'group'
name                                        УАЗ 31512, 1992
params    111 111 км, 2.4 MT (72 л.с.), внедорожник, пол...
region    Республика Татарстан, Сармановский р-н, Саклов...
Name: 2485937942, dtype: object
'NoneType' object has no attribute 'group'

In [11]:
df[df.isnull() == True]

,name,price,params,desc,region,mileage,engine_capacity,transmission,engine_power,body_type,wheel,fuel_type,model,model_2,year
3883899162,"Audi A4 1.4 AMT, 2017, 24 831 км",2570000,"24 831 км, 1.4 AMT (150 л.с.), седан, передний...","Данный автомобиль прошел юридическую проверку,...",Москва,24831,1.4,AMT,150,седан,передний,бензин,Audi,A4,2017
3719132447,"Audi A7 2.0 AMT, 2016, 116 401 км",2595000,"116 401 км, 2.0 AMT (249 л.с.), лифтбек, полны...",Дополнительная скидка до 300 000 рублей при по...,Москва,116401,2.0,AMT,249,лифтбек,полный,бензин,Audi,A7,2016
3662013276,"Audi A3 1.4 AMT, 2013, 98 000 км",1299000,"98 000 км, 1.4 AMT (122 л.с.), седан, передний...",Оставить заявку на рассрочку Оставить заявку н...,Москва,98000,1.4,AMT,122,седан,передний,бензин,Audi,A3,2013
3612342601,"Audi Q7 3.0 AT, 2021, 78 000 км",6999000,"78 000 км, 3.0 AT (231 л.с.), внедорожник, пол...","Автомобиль из Германии. Идеальное состояние, п...",Москва,78000,3.0,AT,231,внедорожник,полный,дизель,Audi,Q7,2021
3566107102,"Audi A6 2.0 AMT, 2017, 172 000 км",2279000,"172 000 км, 2 AMT (249 л.с.), седан, полный, б...",Оставить заявку на рассрочку Оставить заявку н...,Москва,172000,2,AMT,249,седан,полный,бензин,Audi,A6,2017
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3527900766,"Audi A7 3.0 AMT, 2015, 123 629 км",2299000,"123 629 км, 3.0 AMT (245 л.с.), лифтбек, полны...",Все заявленные автомобили находятся в наличии....,Москва,123629,3.0,AMT,245,лифтбек,полный,дизель,Audi,A7,2015
3100422198,"Audi Q7 3.0 AT, 2022",11934500,"3.0 AT (249 л.с.), внедорожник, полный, дизель",Новый Audi Q7. 45 Tdi Quattro (183 квт/249 л. ...,Нижний Новгород,None,3.0,AT,249,внедорожник,полный,дизель,Audi,Q7,2022
3542692559,"Audi A4 2.0 AMT, 2015, 87 845 км",1979700,"87 845 км, 2.0 AMT (225 л.с.), седан, полный, ...",Полный комплект документов. Птс оригинал. Подт...,Котельники,87845,2.0,AMT,225,седан,полный,бензин,Audi,A4,2015
3607596883,"Audi A6 Allroad Quattro 3.0 AT, 2008, 147 000 км",1249000,"147 000 км, 3.0 AT (233 л.с.), универсал, полн...","Все автомобили, представленные в продаже, прох...",Москва,147000,3.0,AT,233,универсал,полный,дизель,Audi,A6 Allroad Quattro,2008
3852113537,"Audi Q7 4.2 AT, 2008, 242 500 км",1330000,"242 500 км, 4.2 AT (350 л.с.), внедорожник, по...",Доброго времени суток. Продам Q7 в нетипично о...,Ивановская обл.,242500,4.2,AT,350,внедорожник,полный,бензин,Audi,Q7,2008