In [9]:
import os
# Optional: set the device to run
os.environ["CUDA_DEVICE_ORDER"] = "PCI_BUS_ID"
os.environ["CUDA_VISIBLE_DEVICES"] = "0"

#os.makedirs('../data', exist_ok=True)

import joblib
#from sklearn.datasets import make_regression

# simple case - just one class is used
from py_boost import GradientBoosting 
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split

In [10]:
def mape(y_true, y_pred):
    '''
    Метрика
    '''
    return np.mean(np.abs((y_pred-y_true)/y_true))

In [11]:
train_val_data = pd.read_csv('../datasets/prod_data_all.csv')
data = train_test_split(train_val_data, test_size=0.1, shuffle=True, random_state=42)

data

[          price  region  mileage  engine_capacity  transmission  engine_power  \
 36251   2249900     134        0              1.5             2           113
 8466     550000     182    15400              1.6             3           115
 11562   3500000     143    49000              2.0             0           249
 71171   3700000     181   165512              1.1             3            50
 28399  19350000     148        1              3.5             1           273
 ...         ...     ...      ...              ...           ...           ...
 37194   2949900     299        0              1.5             2           147
 6265    1189000     262   101569              1.5             1           106
 54886    895000     264    30000              1.6             3            90
 860     1129000     358   148996              4.2             1           350
 15795   3959990     284        0              2.0             1           200

        body_type  wheel  fuel_type  model  model_2  year
 36251          7      1          0     18      725  2023
 8466           7      1          0      4      173  2013
 11562          0      2          0      5      865  2021
 71171         10      1          0     25      438  1982
 28399          0      2          0     13      521  2023
 ...          ...    ...        ...    ...      ...   ...
 37194          0      1          0     18      207  2023
 6265           0      1          0      3      814  2017
 54886          7      1          0     26        7  2023
 860            0      2          0      0      676  2007
 15795          0      2          0      7      855  2023

 [64790 rows x 12 columns],
          price  region  mileage  engine_capacity  transmission  engine_power  \
 5488   4239900     327        0              2.0             1           226
 42181   720000     143    45600              1.4             0            90
 20623  2000000     148    34000              2.0             1           145
 71722   199999     305   134000              1.6             3            81
 47586  6899000      44        0              3.0             1           299
 ...        ...     ...      ...              ...           ...           ...
 63549  1950000     380    68000              1.6             1           123
 43300  1149000     290    31000              1.6             3            82
 70419  3549000     181   114000              2.8             1           177
 59736  4450000     106    62000              3.0             1           249
 2181   1899000     181   137345              3.0             1           306

        body_type  wheel  fuel_type  model  model_2  year
 5488           0      2          0      2      858  2023
 42181         10      1          0     20       37  2008
 20623          0      2          2      9      218  2019
 71722         10      1          0     26        3  2009
 47586          0      2          0     23       97  2023
 ...          ...    ...        ...    ...      ...   ...
 63549          0      1          0     10      292  2019
 43300         10      1          0     21      743  2020
 70419          0      2          3     24      530  2017
 59736          0      2          3      0      676  2016
 2181           0      2          0      1      911  2011

 [7199 rows x 12 columns]]

In [12]:
data[0]['price'] = data[0]['price'].apply(lambda x: int(x / 100))
data[1]['price'] = data[1]['price'].apply(lambda x: int(x / 100))

x_train = data[0].drop(['price'], axis=1)
y_train = data[0]['price']

x_test = data[1].drop(['price'], axis=1)
y_test = data[1]['price']

data

[        price  region  mileage  engine_capacity  transmission  engine_power  \
 36251   22499     134        0              1.5             2           113
 8466     5500     182    15400              1.6             3           115
 11562   35000     143    49000              2.0             0           249
 71171   37000     181   165512              1.1             3            50
 28399  193500     148        1              3.5             1           273
 ...       ...     ...      ...              ...           ...           ...
 37194   29499     299        0              1.5             2           147
 6265    11890     262   101569              1.5             1           106
 54886    8950     264    30000              1.6             3            90
 860     11290     358   148996              4.2             1           350
 15795   39599     284        0              2.0             1           200

        body_type  wheel  fuel_type  model  model_2  year
 36251          7      1          0     18      725  2023
 8466           7      1          0      4      173  2013
 11562          0      2          0      5      865  2021
 71171         10      1          0     25      438  1982
 28399          0      2          0     13      521  2023
 ...          ...    ...        ...    ...      ...   ...
 37194          0      1          0     18      207  2023
 6265           0      1          0      3      814  2017
 54886          7      1          0     26        7  2023
 860            0      2          0      0      676  2007
 15795          0      2          0      7      855  2023

 [64790 rows x 12 columns],
        price  region  mileage  engine_capacity  transmission  engine_power  \
 5488   42399     327        0              2.0             1           226
 42181   7200     143    45600              1.4             0            90
 20623  20000     148    34000              2.0             1           145
 71722   1999     305   134000              1.6             3            81
 47586  68990      44        0              3.0             1           299
 ...      ...     ...      ...              ...           ...           ...
 63549  19500     380    68000              1.6             1           123
 43300  11490     290    31000              1.6             3            82
 70419  35490     181   114000              2.8             1           177
 59736  44500     106    62000              3.0             1           249
 2181   18990     181   137345              3.0             1           306

        body_type  wheel  fuel_type  model  model_2  year
 5488           0      2          0      2      858  2023
 42181         10      1          0     20       37  2008
 20623          0      2          2      9      218  2019
 71722         10      1          0     26        3  2009
 47586          0      2          0     23       97  2023
 ...          ...    ...        ...    ...      ...   ...
 63549          0      1          0     10      292  2019
 43300         10      1          0     21      743  2020
 70419          0      2          3     24      530  2017
 59736          0      2          3      0      676  2016
 2181           0      2          0      1      911  2011

 [7199 rows x 12 columns]]

In [14]:
model = GradientBoosting('mse', 'r2_score',
                         ntrees=1000, lr=.01, verbose=100, es=200, lambda_l2=1,
                         subsample=.8, colsample=.8, min_data_in_leaf=10, min_gain_to_split=0, 
                         max_bin=256, max_depth=6)

model.fit(x_train, y_train, eval_sets=[{'X': x_test, 'y': y_test},])

NameError: name 'cp' is not defined